{%extends 'base.html'%}
{%block content%}
<div class="sidenav">
  <div class="login-main-text">
     <h2>Application<br> Login Page</h2>
     <p>Welcome Back.</p>
  </div>
</div>
<div class="main" >
  <div class="col-md-6 col-sm-12">
     <div class="login-form">
        <form method="POST" enctype="multipart/form-data">
           <div class="form-group">
              <label>Email</label>
              <div>
                {{form.email(class ='form-control',placeholder='email',autocomplete='off',autofocus=true)}}
                <ul>
                  {% for error in form.email.errors %}
                  <li>{{error}}</li>
                  {% endfor %}
                </ul>
              </div>
           </div>
           <div class="form-group">
              <label>Password</label>
              <div>
              {{form.password(class='form-control',placeholder='password',autocomplete='off',autofocus=true)}}
              <ul>
                {% for error in form.password.errors %}
                <li>{{error}}</li>
                {% endfor %}
              </ul>
              </div>
           </div>
           <button type="submit" class="btn btn-primary"  >Login</button>
           <div>
             <small>
               <p>Not a member? <a href="{{url_for('register')}}">Register</a></p>
               <p><a href="{{url_for('reset_request')}}">Forgot password?</a></p>
             </small>
            </div>
        </form>
     </div>
  </div>
</div>
{%endblock content%}