{%extends 'base.html'%}
{%block content%}
<div class="container" style="width:25%;border-style:solid #0000 1px;margin-top:6em;">
    <h3>Register</h3>
    <form  method="POST" action="/register"style="border-style:solid #0000 1px;">
        
        <div>
            {{ form.hidden_tag() }}
            {{form.username(class='form-control',placeholder='username',autocomplete='off',autofocus=true)}}
            <ul>
                {% for error in form.username.errors %}
                <li>{{error}}</li>
                {% endfor %}
            </ul>
        </div>
        <div>
            {{ form.hidden_tag() }}
            {{form.email(class ='form-control',placeholder='email',autocomplete='off',autofocus=true)}}
            <ul>
                {% for error in form.email.errors %}
                <li>{{error}}</li>
                {% endfor %}
            </ul>
        </div>
        <div>
            {{ form.hidden_tag() }}
            {{form.password(class='form-control',placeholder='password',autocomplete='off',autofocus=true)}}
            <ul>
                {% for error in form.password.errors %}
                <li>{{error}}</li>
                {% endfor %}
            </ul>
        
        </div>
        <div>
            {{ form.hidden_tag() }}
            {{form.confirm_password(class_='form-control',placeholder='confirm_password',autocomplete='off',autofocus=true)}}
            <ul>
                {% for error in form.confirm_password.errors %}
                <li>{{error}}</li>
                {% endfor %}
            </ul>
        </div>
        <div>
           {{form.submit_button(class='btn btn-primary btn-block mb-4')}}
        </div>
    </form>
</div>
{%endblock content%}